<!-- menu.component.html -->
<div class="menu-content">
  <ion-grid>
    <!-- Fila 1 -->
    <ion-row>
      <!-- Opción de Perfil -->
      <ion-col size="4">
        <div class="menu-item" (click)="goToProfile()">
          <ion-icon name="person-circle-outline" class="icon-large"></ion-icon>
          <ion-label class="label-center">Perfil</ion-label>
        </div>
      </ion-col>

      <!-- Opción de Notificaciones -->
      <ion-col size="4">
        <div class="menu-item" (click)="goToNotifications()">
          <ion-icon name="notifications-outline" class="icon-large"></ion-icon>
          <ion-label class="label-center">Notificaciones</ion-label>
        </div>
      </ion-col>

      <!-- Opción de Configuración -->
      <ion-col size="4">
        <div class="menu-item" (click)="goToSettings()">
          <ion-icon name="settings-outline" class="icon-large"></ion-icon>
          <ion-label class="label-center">Configuración</ion-label>
        </div>
      </ion-col>
    </ion-row>

    <!-- Fila 2 -->
    <ion-row>
      <ion-col size="4">
        <div class="menu-item" (click)="goToJustificar()">
          <ion-icon name="create-outline" class="icon-large"></ion-icon> <!-- Cambia el nombre del ícono si es necesario -->
          <ion-label class="label-center">Justificaciones</ion-label>
        </div>
      </ion-col>
      <!-- Opción de Cerrar Sesión -->
      <ion-col size="4">
        <div class="menu-item" (click)="logout()">
          <ion-icon name="log-out-outline" class="icon-large"></ion-icon>
          <ion-label class="label-center">Cerrar sesion</ion-label>
        </div>
      </ion-col>
    </ion-row>

    <br><br><br><br>
    <!-- Botón para cerrar el modal -->
    <ion-button expand="block" (click)="closeMenu()">
      Cerrar
    </ion-button>
  </ion-grid>
</div>
