/* Estilo para los íconos en el menú */
.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin-top: 20px; /* Ajuste para un espaciado uniforme */
}

/* Estilo para los íconos grandes */
.icon-large {
  font-size: 48px; /* Tamaño del ícono más grande */
}

/* Estilo para las etiquetas debajo de los íconos */
.label-center {
  margin-top: 8px;
  font-size: 16px;
}

ion-button{
  color: white;
}